---
import SectionLayout, { desktopWidthClass } from "@layouts/SectionLayout.astro";
import { cn } from "@utils/tw-merge";
import { Image } from "astro:assets";

import company_logo from "@public/assets/testimonial/company-logo.svg";
import avatar from "@public/assets/testimonial/Avatar.png";
---

<SectionLayout
  id="testimonial"
  containerClass="px-4 py-10 md:p-10 w-full bg-gray-50"
  class={cn(desktopWidthClass, "grid place-items-center gap-10 text-center")}
>
  <Image src={company_logo} alt="sisyphus logo" />

  <h2 class="font-bold">
    We've been with unicraft to kick start every new project and can't imagine
    working without it.
  </h2>

  <div class="grid place-items-center text-center">
    <Image src={avatar} alt="avatar" />

    <p class="font-medium">Candice Wu</p>
    <span>Product Manager, Sisyphus</span>
  </div>
</SectionLayout>
